.login-box {
  max-width: 450px;
  margin: 40px auto;
  background: #fff;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.08);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box label {
  font-size: 0.9rem;
  color: #555;
}

.login-box input,
.login-box select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.login-btn {
  background: #3B82F6;
  padding: 10px 14px;
  border: none;
  margin-top: 18px;
  width: 100%;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.login-btn:hover {
  background: #1f66cf;
}
